@font-face {
    font-family: myFont;
    src: url(YoungSerif-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
.wrapper{
    height: 1610px;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    border: 50px white solid;
    width: 780px;
    border-radius:  20px;
    background-color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}
.image1{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.data{
    height: 100%;;

}
body{
    background-color: hsl(30, 54%, 90%);

}

.list{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    /* line-height: 1.5; */
    list-style-position: inside;
}
.nutrition{
    gap: 1rem;
    line-height: 40px;  
} 

.space{
    width: 50%;   
} 
h1{
    font-family: myFont;
}
h2{
    color: hsl(14, 45%, 36%);
    font-family: myFont;
}
h3{
    color: hsl(332, 51%, 32%);
}
ol li::marker {
    color: hsl(14, 45%, 36%)
  }
#first li::marker {
    color: hsl(332, 51%, 32%);
  }

#second li::marker {
    color: hsl(14, 45%, 36%)
  }
  .nutrition b{
    color: hsl(14, 45%, 36%);
    /* gap: 1rem; */
}
.preparation-time{
    background-color: #ffc0cb28;

}
b{
    color: hsl(24, 5%, 18%);
}

.food-list {
    display: flex;
    border: thin solid transparent;
    border-bottom-color: black;
}

@media(max-width: 375px){
    .wrapper{
        margin: auto;
        /* margin-top: 5rem;
        margin-bottom: 5rem; */ 
        border: 1px white solid;
        width: 370px;
        border-radius:  5px;
        background-color: white;
        font-family: "Outfit", sans-serif;
        height: 70%;
    }
    .image1{
        width: 100%;
        overflow: hidden;
    }
  }